---
import Layout from '../layouts/Layout.astro';
import services from '../data/services.json';
import Footer from '../components/Footer.astro';
import { Picture } from 'astro:assets';
import resguard from '../assets/images/resguard.jpg';
import landscape2 from '../assets/images/landscape2.jpg';
import cic from '../assets/logo-certificacion/cic-logo.png';
import ClientsSticker from '../components/ClientsSticker.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ButtonToAction from '../components/ButtonToAction.astro';

type ClientName = Parameters<typeof ClientsSticker>[0]['name'];
---

<Layout title="ARVISEG servicios" pageId="services">
  <section class="w-full relative grid">
    <Picture
      class="image-5 w-full max-h-[520px] min-h-[420px] -top-22 object-cover relative left-0 -z-10"
      src={landscape2}
      formats={['jpg']}
      alt="team arviseg"
    />
    <div
      class="grid gap-8 text-center justify-items-center justify-self-center self-center absolute"
    >
      <h3
        class="text-primary text-4xl sm:text-5xl md:text-7xl font-bold uppercase"
      >
        Servicios
      </h3>
      <ButtonToAction />
    </div>
  </section>

  <section class="px-12 mb-20 mt-15 grid gap-40">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-10">
      <div class="">
        <h4 class="text-primary uppercase text-xl font-semibold">
          Nuestros Servicios
        </h4>
        <p class="text-2xl mt-12 pr-4 font-semibold">
          Hacemos que la seguridad de su negocio, hogar o bienestar personal sea
          verdaderamente efectiva.
        </p>
      </div>
      {services.list.map((service) => <ServiceCard service={service} />)}
    </div>
  </section>

  <section class="py-8 grid gap-25">
    <div class="px-12 grid gap-12 justify-items-center">
      <h4 class="text-primary uppercase text-2xl font-bold">Valor agregado</h4>
      <p class="max-w-[480px]">
        Nuestros Guardias de Seguridad cuentan con el curso de 120 horas
        aprobado por el Ministerio del Interior de la República del Ecuador
      </p>
    </div>

    <div class="relative">
      <Picture
        class="image-6 w-full max-w-[760px] justify-self-center sm:justify-self-start lg:ml-12"
        src={resguard}
        formats={['jpg']}
        alt="team arviseg"
      />
      <article
        class="bg-primary text-black max-w-[740px] 2xl:max-w-[820px] px-8 sm:px-10 py-8 mx-4 sm:mx-8 lg:mx-12 grid gap-2 justify-self-end relative -top-10 sm:-top-20 md:-top-45"
      >
        {
          services.value_added.map((value) => (
            <div class="flex items-start gap-4">
              <p class="max-w-[610px]">&middot; {value}</p>
            </div>
          ))
        }
      </article>
    </div>
  </section>

  <section class="relative px-12 sm:-top-10 md:-top-30">
    <div class="px-12 grid gap-12 justify-items-center">
      <Picture
        class="relative sm:left-40 sm:top-25 sm:rotate-10"
        src={cic}
        formats={['png']}
        alt="cic logo certificacion"
      />
      <h4 class="text-primary uppercase text-2xl font-bold">Certificaciones</h4>
      <p class="max-w-[480px] text-center">
        ARVISEG CIA. LTDA, ha sido evaluado, aprobado con respecto a los
        requisitos especificados y certificado según las normas internacionales
      </p>
    </div>
    <div class="flex flex-wrap gap-12 mt-12 justify-center">
      {
        services.certifications.map((certification) => (
          <div class="flex p-4 text-xl">
            <p>{certification}</p>
          </div>
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>
